<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpHost" value="xxx" />
    <add key="FtpRemoteFolder" value="/xxx/wwwroot/" />
    <add key="FtpEnableSsl" value="true" />
    <add key="FtpUserName" value="xxx" />
    <add key="FtpPassword" value="xxx" />
    <!--<add key="FtpGetAllFiles" value="true" />-->
    <add key="FtpCertificateHash" value="" />
    <add key="BaselineFilesPath" value="C:\temp\winscp\ysa\" />
    <add key="LatestFilesPath" value="C:\temp\winscp\js\" />
    <add key="FileCompareOutputPath" value="c:\temp\winscp\output\" />
    <add key="WinMergePath" value="C:\temp\winmerge-2.15.2-exe\WinMerge\WinMergeU.exe" />

    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpTo" value="xxx@gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUserName" value="xxx@gmail.com" />
    <add key="SmtpPassword" value="xxx" />
    <add key="SmtpSubject" value="Web Scan Results" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
</configuration>
